.frame1280px-portfoliotemplate-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame1280px-portfoliotemplate-frame1280px-portfoliotemplate {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.frame1280px-portfoliotemplate-navigation {
  width: 1302px;
  height: 80px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.frame1280px-portfoliotemplate-navnavmenu {
  top: 26px;
  left: 991px;
  width: 261px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1280px-portfoliotemplate-text {
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Epilogue;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1280px-portfoliotemplate-text02 {
  left: 101px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Epilogue;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1280px-portfoliotemplate-text04 {
  left: 192px;
  color: var(--dl-color-default-black);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Epilogue;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1280px-portfoliotemplate-rectangle98 {
  top: 42px;
  left: 32.54999923706055px;
  width: 142px;
  height: 14px;
  position: absolute;
  border-radius: 35px;
}
.frame1280px-portfoliotemplate-text06 {
  top: 18px;
  left: 39px;
  color: rgba(0, 0, 0, 1);
  width: 249px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Bell MT;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1280px-portfoliotemplate-header {
  gap: 10px;
  display: flex;
  padding: 100px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.frame1280px-portfoliotemplate-header1 {
  gap: 28px;
  width: 1080px;
  height: 376px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  background-size: cover;
  background-image: url("public/31-1100w.png");
}
.frame1280px-portfoliotemplate-headline-subhead {
  gap: 40px;
  top: 37.5px;
  left: 0px;
  width: 455px;
  height: 250px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.frame1280px-portfoliotemplate-group2 {
  top: 0px;
  left: -51px;
  width: 557px;
  height: 250px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1280px-portfoliotemplate-headline-subhead1 {
  gap: 40px;
  top: 0px;
  left: 0px;
  width: 557px;
  height: 250px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.frame1280px-portfoliotemplate-text08 {
  left: 89px;
  color: var(--dl-color-default-black);
  width: 557px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 30px;
}
.frame1280px-portfoliotemplate-text10 {
  top: 57.5px;
  left: 81px;
  color: rgba(255, 254, 254, 1);
  width: 557px;
  height: auto;
  position: absolute;
  font-size: 80px;
  font-style: SemiBold;
  text-align: left;
  font-family: Epilogue;
  font-weight: 600;
  line-height: 90px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1280px-portfoliotemplate-frame1 {
  gap: 10px;
  top: 92.5px;
  left: 483px;
  width: 198px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.frame1280px-portfoliotemplate-img276811 {
  left: 518px;
  width: 209px;
  bottom: -4px;
  height: 244px;
  position: absolute;
}
.frame1280px-portfoliotemplate-designsmallertext {
  top: 319px;
  left: 867px;
  width: 99px;
  height: 26.455078125px;
  display: flex;
  position: absolute;
  flex-shrink: 1;
}
.frame1280px-portfoliotemplate-rectangle95 {
  top: -4.808252924703993e-7px;
  left: 11px;
  width: 86px;
  height: 4px;
  position: absolute;
}
.frame1280px-portfoliotemplate-rectangle96 {
  top: -235px;
  left: 5px;
  width: 86px;
  height: 4px;
  position: absolute;
}
.frame1280px-portfoliotemplate-smaller {
  top: -178px;
  left: -71px;
  width: 252px;
  height: 106px;
  position: absolute;
  box-sizing: content-box;
}
.frame1280px-portfoliotemplate-skills-section {
  gap: 10px;
  display: flex;
  padding: 0 140px 119px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.frame1280px-portfoliotemplate-skills {
  gap: 125px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
}
.frame1280px-portfoliotemplate-skill {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.frame1280px-portfoliotemplate-ideasvgrepocom1 {
  width: 260px;
  height: 237px;
}
.frame1280px-portfoliotemplate-skill1 {
  gap: 56px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.frame1280px-portfoliotemplate-headline-subhead2 {
  gap: 19px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.frame1280px-portfoliotemplate-text15 {
  color: var(--dl-color-default-black);
  width: 250px;
  height: auto;
  text-align: center;
  line-height: 42px;
}
.frame1280px-portfoliotemplate-text17 {
  color: var(--dl-color-default-black);
  width: 250px;
  height: auto;
  text-align: center;
  line-height: 27px;
}
.frame1280px-portfoliotemplate-skill2 {
  gap: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.frame1280px-portfoliotemplate-pensvgrepocom1 {
  width: 262px;
  height: 222px;
}
.frame1280px-portfoliotemplate-skill3 {
  gap: 56px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.frame1280px-portfoliotemplate-headline-subhead3 {
  gap: 19px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.frame1280px-portfoliotemplate-text19 {
  color: var(--dl-color-default-black);
  width: 250px;
  height: auto;
  text-align: center;
  line-height: 42px;
}
.frame1280px-portfoliotemplate-text21 {
  color: var(--dl-color-default-black);
  width: 250px;
  height: auto;
  text-align: center;
  line-height: 27px;
}
.frame1280px-portfoliotemplate-skill4 {
  gap: 13px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.frame1280px-portfoliotemplate-webpagesvgrepocom1 {
  width: 250px;
  height: 224px;
}
.frame1280px-portfoliotemplate-skill5 {
  gap: 56px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.frame1280px-portfoliotemplate-headline-subhead4 {
  gap: 19px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.frame1280px-portfoliotemplate-text23 {
  color: var(--dl-color-default-black);
  width: 250px;
  height: auto;
  text-align: center;
  line-height: 42px;
}
.frame1280px-portfoliotemplate-text25 {
  color: var(--dl-color-default-black);
  width: 250px;
  height: auto;
  text-align: center;
  line-height: 27px;
}
.frame1280px-portfoliotemplate-latestwork-section {
  gap: 60px;
  display: flex;
  padding: 20px 100px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.frame1280px-portfoliotemplate-text27 {
  color: var(--dl-color-default-black);
  height: auto;
  text-align: center;
  line-height: 42px;
}
.frame1280px-portfoliotemplate-workcards {
  gap: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.frame1280px-portfoliotemplate-stripe1 {
  gap: 67.5px;
  display: flex;
  align-items: flex-start;
}
.frame1280px-portfoliotemplate-workcard {
  gap: 25px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.frame1280px-portfoliotemplate-image {
  width: 315px;
  height: 315px;
}
.frame1280px-portfoliotemplate-headline-subhead5 {
  gap: 10px;
  width: 315px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame1280px-portfoliotemplate-text29 {
  color: var(--dl-color-default-black);
  width: 315px;
  height: auto;
  text-align: left;
  line-height: 30px;
}
.frame1280px-portfoliotemplate-text31 {
  color: var(--dl-color-default-black);
  width: 315px;
  height: auto;
  text-align: left;
  line-height: 27px;
}
.frame1280px-portfoliotemplate-workcard1 {
  gap: 25px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.frame1280px-portfoliotemplate-image1 {
  width: 315px;
  height: 315px;
}
.frame1280px-portfoliotemplate-headline-subhead6 {
  gap: 10px;
  width: 315px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame1280px-portfoliotemplate-text33 {
  color: var(--dl-color-default-black);
  width: 315px;
  height: auto;
  text-align: left;
  line-height: 30px;
}
.frame1280px-portfoliotemplate-text35 {
  color: var(--dl-color-default-black);
  width: 315px;
  height: auto;
  text-align: left;
  line-height: 27px;
}
.frame1280px-portfoliotemplate-workcard2 {
  gap: 25px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.frame1280px-portfoliotemplate-image2 {
  width: 315px;
  height: 315px;
}
.frame1280px-portfoliotemplate-headline-subhead7 {
  gap: 10px;
  width: 315px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame1280px-portfoliotemplate-text37 {
  color: var(--dl-color-default-black);
  width: 315px;
  height: auto;
  text-align: left;
  line-height: 30px;
}
.frame1280px-portfoliotemplate-text39 {
  color: var(--dl-color-default-black);
  width: 315px;
  height: auto;
  text-align: left;
  line-height: 27px;
}
.frame1280px-portfoliotemplate-footer {
  gap: 10px;
  display: flex;
  padding: 0 100px 70px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.frame1280px-portfoliotemplate-footerinfo {
  gap: 70px;
  display: flex;
  padding: 70px 0 0;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
  border-style: solid;
  border-width: 2px 0 0;
  flex-direction: column;
}
.frame1280px-portfoliotemplate-footerinfo1 {
  gap: 190px;
  display: flex;
  align-items: flex-start;
}
.frame1280px-portfoliotemplate-contactinfo {
  gap: 60px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.frame1280px-portfoliotemplate-footermessage {
  gap: 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.frame1280px-portfoliotemplate-text41 {
  color: var(--dl-color-default-black);
  width: 360px;
  height: auto;
  text-align: left;
  line-height: 42px;
}
.frame1280px-portfoliotemplate-text43 {
  color: rgb(45, 45, 45);
  width: 367px;
  height: auto;
  text-align: left;
  line-height: 27px;
}
.frame1280px-portfoliotemplate-socialicons {
  width: 171px;
  height: 36px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1280px-portfoliotemplate-link {
  display: contents;
}
.frame1280px-portfoliotemplate-behance {
  top: 0px;
  left: 98px;
  width: 36px;
  height: 36px;
  position: absolute;
}
.frame1280px-portfoliotemplate-link1 {
  display: contents;
}
.frame1280px-portfoliotemplate-dribbble {
  top: 0px;
  left: 49px;
  width: 36px;
  height: 36px;
  position: absolute;
}
.frame1280px-portfoliotemplate-link2 {
  display: contents;
}
.frame1280px-portfoliotemplate-facebook {
  top: 0px;
  left: 0px;
  width: 36px;
  height: 36px;
  position: absolute;
}
.frame1280px-portfoliotemplate-vector {
  top: 6px;
  left: 146px;
  width: 25px;
  height: 25px;
  position: absolute;
}
.frame1280px-portfoliotemplate-textfields {
  gap: 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.frame1280px-portfoliotemplate-textfields1 {
  gap: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.frame1280px-portfoliotemplate-textinput-desktop {
  gap: 10px;
  color: rgba(45, 45, 45, 1);
  width: 530px;
  display: flex;
  padding: 21px 30px;
  font-size: 17px;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Epilogue;
  font-weight: 400;
  background-color: rgba(243, 243, 243, 1);
}
.frame1280px-portfoliotemplate-textinput-desktop1 {
  gap: 10px;
  color: rgba(45, 45, 45, 1);
  width: 530px;
  display: flex;
  padding: 21px 30px;
  font-size: 17px;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Epilogue;
  font-weight: 400;
  background-color: rgba(243, 243, 243, 1);
}
.frame1280px-portfoliotemplate-textinput-desktop2 {
  gap: 10px;
  color: rgba(45, 45, 45, 1);
  width: 530px;
  display: flex;
  padding: 21px 30px;
  font-size: 17px;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Epilogue;
  font-weight: 400;
  background-color: rgba(243, 243, 243, 1);
}
.frame1280px-portfoliotemplate-button {
  gap: 10px;
  display: flex;
  padding: 25px 82px;
  align-items: flex-start;
  background-color: var(--dl-color-default-black);
}
.frame1280px-portfoliotemplate-text49 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 20px;
  font-style: SemiBold;
  text-align: center;
  font-family: Epilogue;
  font-weight: 600;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
